@import '../all';

.Karaoke {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: $wide;
}

.Karaoke input[type=text] {
    background: transparent;
    border: none;
    /* border-bottom: 3px solid #dddddd; */
    padding: 0 100px;
    font-style: italic;
}

.displayText {
    font-size: 2em;
    margin: 20px;
    width: 90%;
    font-weight: 300;
}

input.bad{
    color: #ff0000;
}

input.bad:focus {
    color: #ff0000;
}

input.good{
    color: #000000;
}

input.good:focus {
    color: #000000;
}

#boxed {
    border-style: solid;
    border: 1px green;
}

#typingField {
    height:100px;
    font-size:28pt;
}

#typingField:focus {
    outline: none;
}
