@import '../all';

.SongMini {
    @include shadow;

    width: $wide;
    margin: 25px auto;
    height: 120px;
    display: flex;
}

img {
    height: 100%;
    max-width: 280px;
}

#song-title {
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

#song-artist{
    margin-top: 0;
}

.mini-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#rating {
    font-size: 2em;
    font-weight: 600;
}
