.Title > h2 {
    letter-spacing: .3em;
    font-size: 5em;
    padding: .2em;
    margin: 0;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #222;
    height: 10em;
    padding: 20px;
    color: white;
    cursor: pointer;
}