.Title > h2 {
    letter-spacing: .3em;
    font-size: 5em;
    padding: .2em;
    margin: 0;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #222;
    height: 10em;
    padding: 20px;
    color: white;
    cursor: pointer;
}

.rainbow {
    background: linear-gradient(-30deg, #946a90, #ff5898, #ff5151, #f88e5d, #966b92);
    background-size: 300% 300%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

