body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.lights-out {
  background-color: #222;
  transition-duration: 2s;
}

.lights-on {
  background-color: #fff;
  transition-duration: 2s;
}
