input.bad{
    color: #ff0000;
}

input.bad:focus {
    color: #ff0000;
}

input.good{
    color: #000000;
}

input.good:focus {
    color: #000000;
}

#boxed {
    border-style: solid;
    border: 1px green ;
}

#typingField{
    height:100px;
    font-size:28pt;
}

.displayText{
    font-size:28pt;
}

.victoryText{
    font-size:36pt;
    color: #034d03
}